# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- Karen Rodriguez Pinto
- Enlin Wei
- Yumi Minami 
- Kanami Hannah Tanaka

# Group Members IDs

- A15161856
- A12938737
- A12669124
- A########

# Research Question

*Fill in your research question here*

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
# imports
import pandas as pd
import datetime as dt

In [2]:
# loads Kickstarters data into dataframe
df_kickstarters = pd.read_csv("Kickstarter_projects_Feb19.csv")

In [3]:
# drops column 'id' since it gives no useful information, just an ID associated with the project
# drops column 'currency' since the amounts have already been converted into USD in 'goal_usd' and 'usd_pledged' columns and so is redundant
# drops columns 'start_month' and 'end_month' since already given in 'launched_at' and 'deadline' columns and so is redundant
df_kickstarters.drop(columns=['id', 'currency', 'start_month', 'end_month'], inplace=True)

In [4]:
# method to convert datetime strings in 'df_kickstarters' into datetime objects
def to_datetime(datetime_str):
    return dt.datetime.strptime(datetime_str, '%Y-%m-%d %H:%M:%S')

In [5]:
launched_at_dt_format = []
deadline_dt_format = []
# converts all datetime strings in df to datetime objects and adds them to new lists
# this step may take a while since there are almost 200,000 entries
for i in range(0,len(df_kickstarters)):
    launched_at_dt_format.append(to_datetime(df_kickstarters.iloc[i]['launched_at']))
    deadline_dt_format.append(to_datetime(df_kickstarters.iloc[i]['deadline']))

In [6]:
# adds these lists to the dataframe
df_kickstarters['launched_at_dt_format'] = launched_at_dt_format
df_kickstarters['deadline_dt_format'] = deadline_dt_format

In [7]:
# drops the original 'launched_at' and 'deadline' columns since they are now redundant
df_kickstarters.drop(columns=['launched_at', 'deadline'], inplace=True)

In [8]:
# renames the new columns to the old names
df_kickstarters.rename(columns={'launched_at_dt_format':'launched_at', 'deadline_dt_format':'deadline'}, inplace=True)

In [9]:
df_kickstarters

,name,main_category,sub_category,duration,goal_usd,city,state,country,blurb_length,name_length,status,start_Q,end_Q,usd_pledged,launched_at,deadline
0,Socks of Speed and Socks of Elvenkind,games,Tabletop Games,16.0,2000.000000,Menasha,WI,US,14,7,successful,Q4,Q4,6061.000000,2018-10-30 20:00:02,2018-11-15 17:59:00
1,Power Punch Boot Camp: An All-Ages Graphic Novel,comics,Comic Books,30.0,3870.997710,Shepperton,England,GB,24,8,successful,Q3,Q3,3914.505120,2018-08-06 10:00:43,2018-09-05 10:00:43
2,"Live Printing with SX8: ""Squeegee Pulp Up""",fashion,Apparel,30.0,1100.000000,Manhattan,NY,US,21,7,successful,Q2,Q3,1110.000000,2017-06-09 15:41:03,2017-07-09 15:41:03
3,Lost Dog Street Band's Next Album,music,Country & Folk,45.0,3500.000000,Nashville,TN,US,15,6,successful,Q3,Q4,4807.000000,2014-09-25 18:46:01,2014-11-10 06:00:00
4,"Qto-X, a Tiny Lantern",technology,Gadgets,60.0,30000.000000,Troy,MI,US,15,4,successful,Q4,Q1,40368.000000,2016-11-28 16:35:11,2017-01-27 16:35:11
5,"Aaron McDonnell EP ""Follow""",music,Country & Folk,30.0,7500.000000,Seattle,WA,US,11,4,successful,Q1,Q1,7770.000000,2014-01-22 18:21:37,2014-02-21 18:21:37
6,Lush Life,film & video,Drama,30.0,6000.000000,Los Angeles,CA,US,3,2,successful,Q3,Q3,6500.000000,2018-08-17 18:58:18,2018-09-16 18:58:18
7,The biggest NASA fashion collection in the gal...,design,Graphic Design,30.0,1133.687880,Berlin,Berlin,DE,17,8,successful,Q3,Q3,1168.384000,2018-07-17 21:36:14,2018-08-16 21:36:14
8,The Nothing Box,art,Sculpture,30.0,3000.000000,San Francisco,CA,US,19,3,successful,Q3,Q4,3511.000000,2011-09-17 17:02:56,2011-10-17 17:02:56
9,"""Sittin' 'round waitin' for the world to end"" ...",music,Country & Folk,60.0,1000.000000,Oceanside,CA,US,27,10,successful,Q1,Q2,1770.850000,2013-03-01 17:01:17,2013-04-30 16:01:17
10,Those White Horses - Issue #1,comics,Comic Books,30.0,1135.634085,Montreal,QC,CA,23,6,successful,Q3,Q4,1388.850786,2017-09-05 14:21:05,2017-10-05 14:21:05
11,Fenton Fox--Boutique Swimwear Amazingness from...,fashion,Apparel,20.0,9000.000000,Chicago,IL,US,22,6,successful,Q2,Q2,10390.000000,2015-04-02 11:11:32,2015-04-22 01:30:00
12,Rise of the Demigods,games,Tabletop Games,31.0,17500.000000,Chicago,IL,US,27,4,successful,Q3,Q3,45707.000000,2018-07-30 17:03:03,2018-08-30 18:00:00
13,Bunny Face LTD - Issue 1,design,Graphic Design,9.0,100.000000,New London,CT,US,18,6,successful,Q1,Q1,308.000000,2015-01-29 22:27:36,2015-02-07 23:00:00
14,"Trash Can + Vacuum = Bruno, The World's First ...",technology,Gadgets,36.0,50000.000000,Tulsa,OK,US,21,10,successful,Q2,Q2,117240.000000,2015-04-29 12:38:21,2015-06-04 12:38:21
15,Threads: A Gallery of Rogues,comics,Anthologies,21.0,6000.000000,Galax,VA,US,10,5,successful,Q2,Q2,7320.000000,2018-06-04 16:06:30,2018-06-25 16:06:30
16,The Madeline Deveroux Project,music,Country & Folk,30.0,5000.000000,Scottsdale,AZ,US,12,4,successful,Q4,Q1,5000.000000,2013-12-12 04:50:33,2014-01-11 04:50:33
17,Weyhill & Wharf: The Preparatory Oxford,fashion,Apparel,30.0,10000.000000,New York,NY,US,19,6,successful,Q2,Q3,15533.000000,2015-06-02 12:58:28,2015-07-02 12:58:28
18,"""All Is Gift"" Album Production and Tour",music,Country & Folk,30.0,17000.000000,St. Paul,MN,US,27,7,successful,Q3,Q3,17905.000000,2014-08-16 02:02:56,2014-09-15 02:02:56
19,Sounds from the Void - Cthulhu horror music co...,games,Tabletop Games,14.0,645.166285,Derby,England,GB,23,9,successful,Q4,Q4,923.210604,2018-11-13 13:09:54,2018-11-27 13:09:54
20,Rollfast Ramblers Record a Record!,music,Country & Folk,30.0,4000.000000,Austin,TX,US,23,5,successful,Q3,Q3,4075.550000,2013-07-11 21:22:34,2013-08-10 21:22:34
21,Erik the Viking's Debut Full Length Studio Album,music,Country & Folk,30.0,8000.000000,Oklahoma City,OK,US,24,8,successful,Q4,Q4,9260.000000,2017-11-17 00:47:38,2017-12-17 00:47:38
22,Motor City Mo: Episode 2,comics,Comic Books,30.0,2500.000000,Detroit,MI,US,11,5,successful,Q3,Q4,2606.010000,2018-09-30 17:49:27,2018-10-30 17:49:27
23,Maelstrom Rome RPG,games,Tabletop Games,30.0,1290.332570,North Yorkshire,England,GB,7,3,successful,Q4,Q1,2799.330408,2018-12-10 17:13:36,2019-01-09 17:13:36
24,Girl A,film & video,Drama,31.0,903.232799,Leicestershire,England,GB,26,2,successful,Q4,Q1,1867.343224,2016-12-31 22:30:45,2017-01-31 23:59:00
25,WiThumb - Arduino Compatible WiFi USB Thumb / IMU,technology,DIY Electronics,33.0,2000.000000,San Jose,CA,US,20,9,successful,Q2,Q3,5047.000000,2016-06-28 20:58:22,2016-08-01 06:59:00
26,From Nature to Art,art,Sculpture,42.0,2000.000000,Boalsburg,PA,US,11,4,successful,Q4,Q4,5002.000000,2013-10-23 13:47:19,2013-12-04 14:47:19
27,Big Cat Anatomy Sculpture - Lioness,art,Sculpture,32.0,2400.000000,Los Angeles,CA,US,15,6,successful,Q4,Q4,4798.000000,2014-10-15 04:55:10,2014-11-16 08:00:00
28,Bokeh Fire: Lenses for Everyone,technology,Camera Equipment,31.0,20000.000000,Philadelphia,PA,US,8,5,successful,Q4,Q4,21219.000000,2014-11-13 04:58:00,2014-12-13 22:00:00
29,Glossy Commencement Magazine 2013,journalism,Journalism,28.0,250.000000,Providence,RI,US,19,4,successful,Q2,Q2,270.000000,2013-04-16 18:26:46,2013-05-14 18:26:46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192518,Drink Me to the Moon - Home bar kits,food,Drinks,30.0,30000.000000,San Diego,CA,US,17,9,failed,Q4,Q1,1.000000,2018-12-04 00:12:55,2019-01-03 00:12:55
192519,Higher Taste The Vegan Food Truck,food,Vegan,30.0,54622.422400,Dunedin,Otago,NZ,18,6,failed,Q2,Q3,299.446451,2016-06-28 00:18:54,2016-07-28 00:18:54
192520,DRONE ZONE - Drone FPV Racing Complex,technology,Flight,30.0,10000.000000,53083,WI,US,21,7,failed,Q2,Q3,21.000000,2016-06-15 14:30:11,2016-07-15 14:30:11
192521,Tea Un-limited,food,Drinks,30.0,32162.283250,Greater Manchester,England,GB,15,2,failed,Q4,Q1,64.253043,2015-12-18 23:23:52,2016-01-17 23:23:52
192522,Beer on Map,food,Drinks,30.0,25000.000000,Biloxi,MS,US,25,3,failed,Q1,Q1,212.000000,2017-02-17 21:38:36,2017-03-19 20:38:36
192523,Background Book,art,Digital Art,30.0,10677.220500,Blacktown,NSW,AU,14,2,failed,Q1,Q1,0.000000,2015-01-12 22:30:27,2015-02-11 22:30:27
192524,WoW Brewery,food,Drinks,53.0,32162.283250,Southampton,England,GB,18,2,failed,Q4,Q1,60.309323,2014-11-09 11:34:56,2015-01-01 00:00:00
192525,The Legendary TRAVILLA Style,publishing,Art Books,41.0,50000.000000,Scottsdale,AZ,US,23,4,failed,Q4,Q1,500.000000,2013-11-22 13:16:08,2014-01-02 04:59:00
192526,Estill Masonry Artworks,art,Mixed Media,30.0,10000.000000,Louisville,KY,US,19,3,failed,Q1,Q2,0.000000,2015-03-04 17:40:25,2015-04-03 16:40:25
192527,"Robot nutritionist ""Misha""",technology,Robots,30.0,15000.000000,Staten Island,NY,US,4,3,failed,Q4,Q4,31.000000,2017-11-10 18:42:39,2017-12-10 18:42:39
192528,Fourteen,publishing,Art Books,30.0,4500.000000,Bridgeport,CT,US,14,1,failed,Q1,Q1,1119.000000,2015-01-24 17:36:48,2015-02-23 17:36:48
192529,Joey Starkk Cyber Suit,art,Performance Art,60.0,4000.000000,Modesto,CA,US,22,4,failed,Q1,Q2,25.000000,2014-02-24 16:59:45,2014-04-25 15:59:45
192530,Your Perfect Cocktail,food,Drinks,60.0,100000.000000,Austin,TX,US,24,3,failed,Q3,Q4,0.000000,2014-08-18 23:54:23,2014-10-17 23:54:23
192531,Octopodus Wild Yeast Company,food,Drinks,30.0,10000.000000,Asheville,NC,US,21,4,failed,Q1,Q1,0.000000,2015-02-10 21:35:02,2015-03-12 20:35:02
192532,"""HEART ART"" PORTRAIT DESIGN COLLECTION",art,Digital Art,14.0,10000.000000,San Antonio,TX,US,21,5,failed,Q2,Q2,0.000000,2012-05-05 17:07:31,2012-05-19 18:50:00
192533,Alternative Process Photography Equipment Fund...,photography,Fine Art,10.0,400.000000,East Sumter,SC,US,23,7,failed,Q1,Q1,32.000000,2015-01-13 23:38:38,2015-01-23 23:38:38
192534,TWO BIRDS WITH ONE DIAMOND,publishing,Anthologies,30.0,2000.000000,San Diego,CA,US,21,5,failed,Q4,Q1,16.000000,2018-12-05 19:51:07,2019-01-04 19:51:07
192535,Adventure Club Brewing- Bayfield's new Brewery,food,Drinks,30.0,27000.000000,Bayfield,WI,US,12,6,failed,Q2,Q3,15621.000000,2018-06-20 23:58:56,2018-07-20 23:58:56
192536,Convenience Store Diet - A Delicious Animated ...,film & video,Animation,30.0,15000.000000,Los Angeles,CA,US,21,8,failed,Q1,Q2,7210.000000,2015-03-16 14:59:50,2015-04-15 14:59:50
192537,Drynx Resort App,food,Drinks,30.0,128649.133000,London,England,GB,15,3,failed,Q3,Q3,2604.381436,2017-08-23 14:49:37,2017-09-22 14:49:37
192538,Saint Kateri Tekakwitha: Catholic Cartoon,film & video,Animation,30.0,60000.000000,La Crosse,WI,US,25,5,failed,Q4,Q4,1711.000000,2013-11-03 01:08:54,2013-12-03 02:08:54
192539,The Book Shop,publishing,Art Books,30.0,9000.000000,Somerville,MA,US,17,3,failed,Q4,Q4,0.000000,2014-11-10 21:16:58,2014-12-10 21:16:58
192540,Rotten Scoundrels,music,Punk,60.0,1286.491330,Bournemouth,England,GB,21,2,failed,Q2,Q2,50.214199,2016-04-01 19:31:09,2016-05-31 19:31:09
192541,Loice Mae's Kitchen,food,Drinks,34.0,30000.000000,Burke,VA,US,20,3,failed,Q4,Q1,150.000000,2017-12-06 02:01:11,2018-01-09 03:39:00
192542,Tempari SUNLIGHT - Das TeegetrÃÂ¤nk das fruchtet,food,Drinks,30.0,20304.339480,Marburg,Hesse,DE,14,7,failed,Q1,Q2,270.517856,2018-03-18 06:36:40,2018-04-17 06:36:40
192543,Book CafÃÂ© Bergen,food,Drinks,60.0,57858.665000,Bergen,Hordaland Fylke,NO,21,3,failed,Q4,Q4,1.224260,2016-10-19 18:07:51,2016-12-18 19:07:51
192544,Chainlink tool,technology,Fabrication Tools,47.0,115717.330000,BÃÂ¥tsfjord,Finnmark Fylke,NO,18,2,failed,Q4,Q4,157.273939,2014-11-14 12:11:46,2014-12-31 12:59:00
192545,PNW Juice Truck,food,Drinks,30.0,30000.000000,Seattle,WA,US,13,3,failed,Q1,Q1,0.000000,2016-02-02 22:34:22,2016-03-03 22:34:22
192546,succulent christmas tree,art,Conceptual Art,60.0,1200.000000,Los Angeles,CA,US,3,3,failed,Q3,Q4,143.000000,2014-08-06 18:16:29,2014-10-05 18:16:29
192547,Monthly Herbal Boxes!,crafts,DIY,60.0,7600.000000,Phoenix,AZ,US,20,3,failed,Q4,Q1,311.000000,2016-12-23 18:40:05,2017-02-21 18:40:05

# Data Cleaning

Describe your data cleaning steps here.

In [2]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [5]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*